lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
images
pids
results
tmp

node_modules
npm-debug.log

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
.idea/*
*.log
# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes


# Windows
Thumbs.db
Desktop.ini